<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>multicolor-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>multicolor-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>multicolor-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cyan-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cyan-light</string>
				</array>
				<key>CFBundleIconName</key>
				<string>cyan-light</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cyan-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cyan-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>cyan-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange-light</string>
				</array>
				<key>CFBundleIconName</key>
				<string>orange-light</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>orange-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gray-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gray-light</string>
				</array>
				<key>CFBundleIconName</key>
				<string>gray-light</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gray-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gray-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>gray-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>multicolor-light</string>
			</array>
			<key>CFBundleIconName</key>
			<string>multicolor-light</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>multicolor-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>multicolor-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>multicolor-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cyan-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cyan-light</string>
				</array>
				<key>CFBundleIconName</key>
				<string>cyan-light</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>cyan-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cyan-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>cyan-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange-light</string>
				</array>
				<key>CFBundleIconName</key>
				<string>orange-light</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>orange-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>orange-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>orange-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gray-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gray-light</string>
				</array>
				<key>CFBundleIconName</key>
				<string>gray-light</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gray-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gray-dark</string>
				</array>
				<key>CFBundleIconName</key>
				<string>gray-dark</string>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>multicolor-light</string>
			</array>
			<key>CFBundleIconName</key>
			<string>multicolor-light</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
